@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hestrial";
  src: url("/fonts/hestrial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px) translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}

.hestrial-font {
  font-family: "Hestrial", sans-serif !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

.gradient-enter {
  transition: background-image 0.3s ease-in;
}

.gradient-exit {
  transition: background-image 1.5s ease-out;
}
